<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{{ state.siteName }} | Admin</title>
    {% include 'common_header.html' %}
  </head>
  <body>
    {% include "page_head.html" %}
    <div class="container">
      <div class="well">
        <ul>
          {% if admin %}
          <li><a href="/admin/user">Administrate Users</a></li>
          {% endif %}
          <li><a href="/admun/user/{{ current_user.id }}">My User Settings</a></li>
          <li><a href="/new">New Post</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>

