<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% from "macros.html" import nomacro_entryURL %}

  <head>
    <title>{{ state.siteName }}</title>
    {% include 'common_header.html' %}
  </head>
  <body>
    {% include "page_head.html" %}
    <div class="container">
      {% for entry in entries %}
      <div class='well'>
      <div class="row">
        <div class="col-md-8">
          <a href="{{ nomacro_entryURL(entry) }}"><h1>{{ entry.title }}</h1></a>
        </div>
        <div class="col-md-4"><small>
          <p class="text-left">{{ entry.author.fullname }}</p>
          <p class="muted test-right">{{ entry.date }}</p>
        </small></div>
      </div><div class="row">
        <p>{{ entry.entry|nofilter_breaksplit|first|escape|nofilter_newlines|safe }}</p>
        <a href="{{ nomacro_entryURL(entry) }}">more...</a>
      </div></div>
      {% endfor %}
      {% if total_pages > 0 %}
      <ul class="pagination">
        {% for i in range(total_pages) %}
          {% if page_num == i %}
            <li class="active"><a href="#">{{ i+1 }}</a></li>
          {% else %}
            <li><a href="{{ request.path }}?page={{ i }}">{{ i+1 }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>

