<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% from "macros.html" import nomacro_entryURL %}

  <head>
    <title>{{ state.siteName }}</title>
    {% include 'common_header.html' %}
  </head>
  <body>
    {% include "page_head.html" %}
    <div class="container">
      {% for entry in entries %}
      <div class='well'>
      <div class="row-fluid">
        <div class="span8">
          <a href="{{ nomacro_entryURL(entry) }}"><h1>{{ entry.title }}</h1></a>
        </div>
        <div class="span4"><small>
          <p class="text-left">{{ entry.author.fullname }}</p>
          <p class="muted test-right">{{ entry.date }}</p>
        </small></div>
      </div><div class="row-fluid">
        <p>{{ entry.entry|nofilter_breaksplit|first|escape|nofilter_newlines|safe }}</p>
        <a href="{{ nomacro_entryURL(entry) }}">more...</a>
      </div></div>
      {% endfor %}
    </div>
  </body>
</html>

