{% macro nomacro_entryURL(entry)
  %}{% if entry.url is not none
    %}/{{ entry.url }}{%
  else
    %}/node/{{ entry.id }}{%
  endif %}
{%- endmacro %}

{% macro nomacro_tagURL(tag)
%}/tag/{{tag.id}}{%-
endmacro %}

{% macro nomacro_placeholder(entry, attr, default)
  %}{% if entry is defined
    %}{{ entry[attr] }}{%
  else
    %}{{ default }}{%
  endif %}
{%- endmacro %}

{% macro nomacro_flipper(flipper_id, text) -%}
<div class="accordian" id="{{ flipper_id }}">
    <div class="accordian-group">
      <div class="accordian-heading">
        <a class="accordian-toggle" data-toggle="collapse"
        data-present="#{{ flipper_id }}"
        href="#{{ flipper_id}}One">{{ text|safe }}</a>
      </div>
      <div id="{{ flipper_id}}One" class="accordian-body collapse">
        <div class="accordian-inner">
          {{ caller() }}
        </div>
      </div>
    </div>
</div>
{%- endmacro %}
