<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
  <title>{{ state.site_name }} | {{ title }}</title>
    {% include 'common_header.html' %}
  </head>
  <body>
    {% include "page_head.html" %}
    <div class='container'><div class='well'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">{{ title }}</h1>
        </div>
        <div class="panel-body">
          {% include "post_form.html" %}
        </div>
        {% if entry is defined and entry is not none %}
          <div class="panel panel-info">
            <div class="panel-heading"><i>Preview</i></div>
            <div class="panel-body">
              {% include "entry_embed.html" %}
            </div>
          </div>
        {% endif %}
      </div>
    </div></div>
  </body>
</html>
