{% from "macros.html" import nomacro_entryURL, nomacro_tagURL %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{{ entry.title }} | {{ state.siteName }}</title>
    {% include "common_header.html" %}
  </head>
  <body>
    {% include "page_head.html" %}
    <div class='container'><div class='well'>
      <a href="{{ nomacro_entryURL(entry) }}"><h2>{{ entry.title }}</h2></a>
      <h3>{{ entry.author.fullname }}</h3>
      <!-- Debugging information:
           User "{{ entry.author.name }}"
           Entry Owner Group "{{ entry.group.name }}"
           User Primary Group "{{ entry.author.primary_group.name }}"
        -->
      <i>{{ entry.date }}</i><br /><br />
      {% if entry.html %}
        <p>{{ entry.entry|nofilter_breakclean|nofilter_newlines|safe }}</p>
      {% else %}
        <p>{{ entry.entry|nofilter_breakclean|escape|nofilter_newlines|safe }}</p>
      {% endif %}
    </div>
      <ul>
      {% for child in entry.children %}
        <li><a href="{{ nomacro_entryURL(child) }}"><h4>{{ child.title }}</h4></a></li>
      {% endfor %}
      </ul>
      <p class='text-right'>
      <strong>Tags:</strong>
      {% for tm in entry.tagmap %}
      <a href="{{ nomacro_tagURL(tm.tag) }}" class="btn btn-info">{{ tm.tag.tag }}</a>
      {% endfor %}
      </p>
    </div>
  </body>
</html>

