{% from "macros.html" import nomacro_placeholder, nomacro_flipper, 
nomacro_tagdisplay, nomacro_checkbox %}
<form action="" method=post>
  <div class="form-group">

    <!-- TITLE -->
    <label for="title">Page Title <small>(by {{ current_user.fullname }})</small></label>
    <input type="text" class="form-control" name="title"
      {{ nomacro_placeholder(entry, 'title', 'Enter title')}}>

    <!-- GROUP -->
    <label for='group'>Group Ownership</label>
    <select class="form-control" name="group">
      {% for g in groups %}
        <option>{{ g.name }}</option>
      {% endfor %}
    </select>

    <!-- URL -->
    {% call nomacro_flipper('url', '<label for="url">Custom URL</label>') %}
    <input type="text" class="form-control" name="url"
      {{ nomacro_placeholder(entry, 'url', '') }}>
    {% endcall %}

    <!-- TAGS -->
    {% call nomacro_flipper('tags', '<label for="tags">Tags</label>') %}
    <input type="text" class="form-control" name="tags"
      {{ nomacro_tagdisplay(entry) }}>
    {% endcall %}

    <!-- STATIC -->
    <label>
      <input type="checkbox" name="static"
      value="{{ nomacro_checkbox(entry, 'static', 'no')}}">Static
    </label>

    <!-- TEXTAREA -->
    <textarea class="form-control" rows="15" name="entry"
        >{% if entry is defined
        %}{{ entry.entry|safe }}{% endif %}</textarea>

    <!-- SUBMIT -->
    <label>
      <input type="checkbox" name="html"
      value="{{ nomacro_checkbox(entry, 'html', 'no')}}">Post is HTML
    </label>
    <input type='submit' name='submit' value='Submit'>
    <input type='submit' name='preview' value='Preview'>
  </div>
</form>
