{% from "macros.html" import nomacro_placeholder, nomacro_flipper, 
nomacro_tagdisplay, nomacro_checkbox %}
<form action="" method=post>
  <div class="form-group">
    <label for="title">Page Title</label>
    <input type="text" class="form-control" id="title"
      placeholder="{{ nomacro_placeholder(entry, 'title', 'Enter title')}}">
    {% call nomacro_flipper('url', '<label for="url">Custom URL</label>') %}
    <input type="text" class="form-control" id="url"
      placeholder="{{ nomacro_placeholder(entry, 'url', '') }}">
    {% endcall %}
    {% call nomacro_flipper('tags', '<label for="tags">Tags</label>') %}
    <input type="text" class="form-control" id="tags"
      placeholder="{{ nomacro_tagdisplay(entry) }}">
    {% endcall %}
    <label>
      <input type="checkbox" name="static"
      value="{{ nomacro_checkbox(entry, 'static', 'no')}}">Static
    </label>
    <textarea class="form-control" rows="15"
      name="entry" placeholder="{%
        if entry is defined %}{{ entry.entry|safe
        }}{% endif %}"></textarea>
    <input type=submit value='Submit'>
  </div>
</form>