<div class="container">
  <div class="well">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h1 class='panel-title'>User Settings</h1>
      </div>
      <div class='panel-body'>
        {% include "bootstrap-user_settings_general.html" %}
      </div>
    </div>
  </div>
</div>
{% if is_admin %}
<div class="container">
  <div class="well">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h1 class='panel-title'>Additional Group Membership and Roles</h1>
      </div>
      <div class='panel-body'>
        {% include "bootstrap-user_settings_groups.html" %}
        {% include "bootstrap-user_settings_roles.html" %}
      </div>
    </div>
  </div>
</div>
{% endif %}
