{% from "macros.html" import nomacro_entryURL %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>Something something SPACE MARINE!</title>
  </head>
  <body>
    {% for entry in entries %}
    <a href="{{ nomacro_entryURL(entry) }}"><h2>{{ entry.title }}</h2></a>
      <h3>{{ entry.author.fullname }}</h3>
      <i>{{ entry.date }}</i><br /><br />
      <p>{{ entry.entry|nofilter_breakSplit|first|escape|nofilter_newLines|safe }}</p>
      <a href="{{ nomacro_entryURL(entry) }}">more...</a>
    {% endfor %}
  </body>
</html>

