    {% if entry.url == none %}
      {% set path = "/node/" ~ entry.id %}
    {% else %}
      {% set path = "/" ~ entry.url %}
    {% endif %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{{ entry.title }}</title>
  </head>
  <body>
    <a href="{{ path }}"><h2>{{ entry.title }}</h2></a>
    <h3>{{ entry.author.fullname }}</h3>
    <i>{{ entry.date }}</i><br /><br />
    <p>{{ entry.entry }}</p>
    <ul>
    {% for tm in entry.tagmap %}
      <li>{{ tm.tag.tag }}</li>                                                                              
    {% endfor %}
    </ul>     
  </body>
</html>

