{% from "macros.html" import nomacro_entryURL, nomacro_tagURL %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{{ entry.title }}</title>
  </head>
  <body>
    <a href="{{ nomacro_entryURL(entry) }}"><h2>{{ entry.title }}</h2></a>
    <h3>{{ entry.author.fullname }}</h3>
    <i>{{ entry.date }}</i><br /><br />
    {% if entry.html %}
      <p>{{ entry.entry|nofilter_breakClean|nofilter_newLines|safe }}</p>
    {% else %}
      <p>{{ entry.entry|nofilter_breakClean|escape|nofilter_newLines|safe }}</p>
    {% endif %}
    <ul>
    {% for child in entry.children %}
    <li><a href="{{ nomacro_entryURL(child) }}"><h4>{{ child.title }}</h4></a></li>
    {% endfor %}
    </ul>
    <ul>
    {% for tm in entry.tagmap %}
    <li><a href="{{ nomacro_tagURL(tm.tag) }}">{{ tm.tag.tag }}</a></li>
    {% endfor %}
    </ul>     
  </body>
</html>

